name: create release

on:
  push:
    tags:
      - v*

jobs:
  release:
    name: Release pushed tags
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes

  call-workflow:
    needs: release
    uses: rpg-sage-creative/json-utils/.github/workflows/release-package.yml@main
